In [1]:
import pandas as pd

In [2]:
zappos = pd.read_csv('/users/Gene/Desktop/gzdsi7/nikescrape/nikescrape/spiders/zappos.csv')
six = pd.read_csv('/users/Gene/Desktop/gzdsi7/nikescrape/nikescrape/spiders/6pm.csv')
nike = pd.read_csv('/users/Gene/Desktop/gzdsi7/nikescrape/nikescrape/spiders/nike.csv')
stadiumgoods = pd.read_csv('/users/Gene/Desktop/gzdsi7/nikescrape/nikescrape/spiders/stadiumgoods.csv')

In [3]:
print six.shape,zappos.shape,nike.shape,stadiumgoods.shape

(20661, 11) (18006, 11) (2907, 9) (1726, 9)

In [10]:
six.head(0)

Empty DataFrame
Columns: [brand_name, shoe_name, colorway, colorcode, shoe_link, bottomview, lateralfrontleft, heelview, toeview, medialfrontright, topview]
Index: []

In [23]:
frames = [zappos,six]

In [27]:
test = pd.concat(frames, axis=0)

In [31]:
test.brand_names.value_counts()

AttributeError: 'DataFrame' object has no attribute 'brand_names'

In [19]:
six.brand_name.value_counts()

Nike                        974
SKECHERS                    744
PUMA                        716
New Balance                 528
New Balance Kids            434
Puma Kids                   427
ASICS                       422
Under Armour                369
Lacoste                     346
adidas                      332
Converse                    329
SKECHERS KIDS               328
Vans                        323
Saucony                     318
Fila                        311
DC                          264
Reebok                      259
ECCO                        243
Merrell                     235
Keds                        199
Ryka                        198
Nike Kids                   197
Stride Rite                 182
Under Armour Kids           162
Steve Madden                161
Clarks                      161
Vans Kids                   160
SKECHERS Performance        160
Converse Kids               154
Sperry                      151
                           ...
IVY KIRZHNER                  1
Andre Assous                  1
Jeffery-West                  1
LOVE Moschino                 1
Alegria                       1
Hatley Kids                   1
Proenza Schouler              1
Kenneth Cole Black Label      1
NoSoX by Deer Stags           1
Deer Stags Kids               1
Birkenstock                   1
Khombu                        1
gotta FLURT                   1
Generic Surplus               1
Hunter                        1
GBX                           1
Tommy Hilfiger Kids           1
Dekline                       1
CoSTUME NATIONAL              1
Maine Woods                   1
Markus Lupfer                 1
BCBGeneration                 1
Wilson                        1
Cesare Paciotti               1
1.STATE                       1
Capezio                       1
Franco Sarto                  1
Rupert Sanderson              1
Eleven Paris                  1
Enzo Angiolini                1
Name: brand_name, Length: 516, dtype: int64